.action-icon-details {
  color: #808080;
  cursor: pointer;
}
.action-icon-edit {
  margin: 0px 5px;
  color: #808080;
  cursor: pointer;
}
.action-icon-delete {
  color: #808080;
  cursor: pointer;
}
