.add-fallery-wrapper {
  .MuiDropzoneArea-root {
    min-height: 18vh !important;
  }
}

//!------------------
.image-wrap {
  width: 100%;
  height: 26vh;
  margin-bottom: 2rem;
  padding: 0.4rem;
  background-color: #f0f0f0;
  border-radius: 2px;
}

.img-checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 150px;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  line-height: 150px;
  text-align: center;
  border: 2px solid white;
  // border-radius: 50%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.file-dropzone {
  margin-bottom: 1.5rem;
  .card-dropzone {
    margin-bottom: 1rem;
    padding: 1rem;
    p {
      margin-bottom: 0.5rem;
    }
    .form-wrap {
      border: 2px dashed #1A2C52 ;
      padding: 0%;
      height: 12vh;
      background-color: #f8f8f8;
      form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          // width: 100%;
          // height: 100%;
          display: none;
          cursor: pointer;
        }
      }
    }
    .btn-wrap {
      text-align: end;
      margin-top: 1rem;
    }
  }
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-input label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #1A2C52  !important;
  // background: linear-gradient(40deg, #ff6ec4, #7873f5);
  // box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.file-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

/* Adding an outline to the label on focus */
input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.search-bucket{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .form-group{
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 0;
  }
}