.img-preview-wrapper {
  height: 250px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  position: relative;
  &.preview-small {
    height: 200px;
  }
  .remove-icon {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    z-index: 2;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
  }
}

.arabic-pigeon-logo-form {
  background-color: #1A2C5226;
}
